@import "./../../../../styles/responsive.scss";
#footer {
  padding-bottom: 21px;
  @include small {
    padding-bottom: 0;
  }
  .footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #105e25;
    padding-top: 21px;
    padding-bottom: 21px;

    .up {
      display: none;
      background-color: #fe6f45;
      border-radius: 10px;
      cursor: pointer;
      border: none;
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;

      @include small {
        display: flex;
      }

      img {
        rotate: -90deg;
      }
    }

    img {
      max-width: 175px;

      @include small {
        max-width: 113px;
      }
    }

    .nav-links {
      display: flex;

      @include small {
        display: none;
      }
      ul {
        display: flex;

        li {
          margin-right: 50px;

          &:last-of-type {
            margin-right: 0;
          }

          a {
            color: #d1b89f;
            font-size: 14px;
            font-weight: bold;
            line-height: 19px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
  .support-wrapper {
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f9f2eb;
    padding-top: 29px;
    padding-bottom: 6px;
    display: flex;

    @include small {
      display: inherit;
      padding-top: 32px;
    }

    span {
      font-size: 18px;
      color: #686159;
      font-weight: bold;
      line-height: 24px;
      text-transform: capitalize;
      margin-top: 0;
    }

    img {
      max-width: 210px;
    }
    .web {
      @include small {
        display: none;
      }
    }
    .mobile {
      display: none;
      flex-direction: column;
      align-items: center;

      @include small {
        display: flex;
      }

      span {
        margin-bottom: 25px;
      }

      div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include small {
          gap: 25px;
        }
      }

      img {
        width: 100%;
      }
    }
  }
  .footer-contact {
    display: flex;
    justify-content: space-between;

    @include small {
      flex-direction: column;
      align-items: center;
      padding: 0 !important;
    }

    ul {
      @include small {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      li {
        display: flex;
        align-items: baseline;
        margin-top: 20px;

        @include small {
          align-items: center;
        }
        &:first-of-type {
          margin-top: 27px;

          @include small {
            margin-top: 0;
          }
        }

        a {
          color: #686159;
          font-weight: bold;
          font-size: 14px;
          line-height: 19px;

          @include small {
            font-size: 12px;
            line-height: 22px;
          }
        }

        .phone-numbers {
          display: flex;
          flex-direction: column;
        }

        img {
          margin-right: 20px;
        }
        .linkdedin {
          margin-right: 0;
        }
      }
    }
  }
  .social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include small {
      border-top: 2px solid #f9f2eb;
      margin-top: 32px;
      padding: 12px 0;
      align-items: center;
      width: 100%;
    }

    ul {
      display: flex;
      align-items: center;
      margin-bottom: 27px;
      justify-content: flex-end;

      @include small {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 12px;
      }
      li {
        margin-right: 40px;
        margin-top: 0;

        &:first-of-type {
          margin-top: 0;
        }

        &:last-of-type {
          margin-right: 0px;
        }

        img {
          width: 28px;
          height: 28px;
          margin-right: 0;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  span {
    font-size: 14px;
    color: #686159;
    font-weight: bold;
    line-height: 19px;
    text-transform: capitalize;
    text-align: end;

    @include small {
      font-size: 12px;
    }
  }
}
