@import "../../../../styles/responsive.scss";

#header {
  background-color: #105e25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  @include small {
    padding: 21px 0;
  }

  .menu {
    display: none;
    width: 20px;
    height: 15px;
    cursor: pointer;

    @include small {
      display: flex;
    }
  }
  .left-nav {
    @include small {
      display: none;
    }
  }
  ul {
    display: flex;

    li {
      margin-right: 50px;

      .active {
        position: relative;
        display: flex;
        align-items: center;

        &:before {
          content: "";
          position: absolute;
          height: 32px;
          border-color: transparent transparent transparent #ffffff;
          border-style: solid;
          border-width: 2.5px;
          transform: skewX(-32deg);
          top: -6px;
          left: calc(50% - 1.5px);
        }
      }

      a {
        font-size: 14px;
        color: #fff;
        line-height: 19px;
        font-weight: bold;
        cursor: pointer;
      }
      &:nth-child(3) {
        margin-right: 0;
      }
    }
  }
  .logo-wrapper {
    img {
      @include small {
        max-width: 113px;
        max-height: 27px;
      }
    }
  }
  .right-nav {
    display: flex;
    align-items: center;

    @include small {
      display: none;
    }
  }
  .lang,
  .lang-mobile {
    background-color: #fe6f45;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    line-height: 19px;
    text-transform: capitalize;
    cursor: pointer;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;

    @include small {
      width: 30px;
      height: 30px;
    }

    span {
      color: #fff;
      font-size: 14px;

      @include small {
        font-size: 12px;
      }
    }
  }
  .lang-mobile {
    display: none;

    @include small {
      display: flex;
    }
  }
}

.burger {
  height: 100%;
  margin-top: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 32px 12px;
  background-color: #f9f2eb;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin: 0;
  touch-action: none;
  -ms-touch-action: none;
  ul {
    width: 100%;
    margin-bottom: 15px;
    li {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      width: 100%;
      a {
        font-size: 14px;
        font-weight: bold;
        line-height: 19px;
        color: #686159;
        border-bottom: 1px solid #f3e8dc;
        padding-bottom: 16px;
        margin-bottom: 15px;
      }
    }
  }
  img {
    width: 100%;
    max-width: 349px;
  }
}
