@import "../../styles/responsive.scss";

#about {
  img {
    &:nth-child(1) {
      width: 100%;
      margin-top: 16px;

      @include small {
        margin-top: 12px;
        min-height: 228px;
        object-fit: contain;
      }
    }
  }
  .about {
    margin-bottom: 100px;

    @include small {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 12px;
      padding: 0 !important;
    }

    .wrapper {
      display: flex;
      align-items: start;

      @include small {
        flex-direction: column;
        align-items: center;
      }

      img {
        margin-left: 16px;
        width: 100%;
        object-fit: cover;
        margin-left: 24px;

        @include small {
          margin-left: 0;
        }
      }
    }

    h2 {
      margin-top: 81px;
      margin-bottom: 74px;

      @include small {
        margin: 32px 0;
        font-size: 28px !important;
      }
    }
    p {
      font-size: 16px;
      line-height: 24px;
      max-width: 610px;
      text-align: start;

      @include small {
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 32px;
        padding: 0 12px !important;
      }
    }
  }
}
