body,
html {
  font-family: "Noto Sans Georgian", sans-serif;
}
span,
a,
button,
h2 {
  font-family: "Noto Sans Georgian", sans-serif;
}
.container {
  padding-right: 300px !important;
  padding-left: 300px !important;
}

main {
  flex: 1;
}
