.burger {
  height: 100%;
  margin-top: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 32px 12px;
  background-color: #f9f2eb;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin: 0;
  touch-action: none;
  -ms-touch-action: none;
  ul {
    width: 100%;
    margin-bottom: 39px;
    li {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      width: 100%;
      a {
        font-size: 14px;
        font-weight: bold;
        line-height: 19px;
        color: #686159;
        border-bottom: 1px solid #f3e8dc;
        padding-bottom: 16px;
        margin-bottom: 15px;
      }
    }
  }
  img {
    width: 100%;
    max-width: 349px;
  }
}
