@import "../../styles/responsive.scss";

#home {
  .section-1 {
    background-color: #f9f2eb;
    margin-top: 16px;
    padding-top: 19px;
    padding-bottom: 169px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include small {
      margin-top: 12px;
    }

    .graphic {
      background-image: url(../../assets/back.png);
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      background-size: contain;
      min-height: 438px;
      background-position: bottom center;

      @include small {
        min-height: 195px;
      }

      img {
        width: 100%;
        object-fit: contain;
        object-position: bottom;
      }
    }

    h2 {
      color: #105e25;
      font-size: 80px;
      line-height: 84px;
      font-weight: 800;
      margin-top: 31px;
      margin-bottom: 34px;
      text-align: center;

      @include small {
        font-size: 40px;
        line-height: 60px;
      }
    }

    .top-btn {
      .see-more {
        @include small {
          margin-top: 32px;
          padding: 20px;
        }
      }

      .arrow {
        @include small {
          padding-left: 57px !important;
        }
      }
    }
  }
  .btn {
    :hover {
      background-color: #eb4e08 !important;
      color: #fff !important;

      .arrow {
        svg {
          fill: #eb4e08 !important;
        }
      }
    }
  }
  .section-2,
  .section-3,
  .section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-3 {
    background-color: #f9f2eb;
  }
  .section-4 {
    h2 {
      color: #686159;
    }
    .sertLogo {
      margin-top: 32px;
      max-width: 336px;

      @include small {
        max-width: 190px;
      }
    }
  }
  .section-5 {
    background-color: #f9f2eb;
    margin-bottom: 16px;
    .decorTop,
    .decorB {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
      margin: 0 16px;

      @include small {
        grid-template-columns: repeat(2, 1fr);
        gap: 6px;
        margin: 0 12px;
        margin-top: 48px;
      }

      img {
        width: 100%;

        @include small {
          &:nth-child(3),
          &:nth-child(4) {
            display: none;
          }
        }
      }
    }
    .cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      @include small {
        flex-direction: column;
      }

      .card {
        &:nth-child(1) {
          @include small {
            margin-top: 12px;
          }
        }
        &:nth-child(2),
        &:nth-child(3) {
          @include small {
            margin-top: 48px;
          }
        }

        .cardTittle {
          font-size: 32px;
          color: #686159;
          font-weight: bold;
          line-height: 43px;
          margin-top: 32px;

          @include small {
            font-size: 18px;
            margin-bottom: 0;
            margin-top: 0;
          }
        }
        p {
          max-width: 264px;
          margin-bottom: 32px;

          @include small {
            margin-bottom: 0;
            max-width: 228px;
          }
        }
        img {
          margin-top: 24px;
          margin-bottom: 21px;

          @include small {
            margin: 16px 0;
          }
        }
      }
    }
  }

  .img-wrapper {
    margin-top: 64px;
    display: flex;
    width: 100%;
    margin-bottom: 16px;

    @include small {
      flex-direction: column;
    }

    img {
      width: calc(50% - 8px);
      &:last-of-type {
        margin-left: 16px;

        @include small {
          margin-left: 0;
          margin-top: 12px;
        }
      }

      @include small {
        width: 100%;
      }
    }
  }
}
