#home {
  .section-1 {
    background-color: #f9f2eb;
    margin-top: 16px;
    padding-top: 19px;
    padding-bottom: 169px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .graphic {
      background-image: url(../../assets/back.png);
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
    }

    h2 {
      color: #105e25;
      font-size: 80px;
      line-height: 84px;
      font-weight: 800;
      margin-top: 31px;
      margin-bottom: 34px;
    }
  }
  .section-2,
  .section-3,
  .section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-3 {
    background-color: #f9f2eb;
  }
  .section-4 {
    h2 {
      color: #686159;
    }
    .sertLogo {
      margin-top: 32px;
      max-width: 336px;
    }
  }
  .section-5 {
    background-color: #f9f2eb;
    margin-bottom: 16px;
    .decorTop,
    .decorB {
      display: flex;
      justify-content: space-between;
      margin: 0 16px;
    }
    .cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      .card {
        .cardTittle {
          font-size: 32px;
          color: #686159;
          font-weight: bold;
          line-height: 43px;
          margin-top: 32px;
        }
        p {
          max-width: 264px;
          margin-bottom: 32px;
        }
        img {
          margin-top: 24px;
          margin-bottom: 21px;
        }
      }
    }
  }

  .img-wrapper {
    margin-top: 64px;
    display: flex;
    width: 100%;
    margin-bottom: 16px;

    img {
      width: calc(50% - 8px);
      &:last-of-type {
        margin-left: 16px;
      }
    }
  }
}
