@import "../../styles/responsive.scss";

.see-more {
  padding: 17px 16px 19px 16px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;

  @include small {
    font-size: 14px;
    margin-top: 16px;
  }
}
